:root{
    --bg-color: #111;
    --text-color: #fff;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0px;
    
}

a{ 
    color: var(--text-color);
    text-decoration: none;
}

.page{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.button{
    border: none;
}

.card{
    padding: 30px 50px;
}
